<%= render "partials/navigation" %>

<div class="tenant">
  <div class="profile-pic">
  </div>
  <div class="name-heading">
    <h1>Michael Che</h1>
  </div>
</div>

<div class="tenant-content">
  <div class="content">
    <div class="attributes">
      <p>$550pw</p>
      <%= image_tag("bed.svg", :alt => "bedrooms icon") %>
      <p>2</p>
      <%= image_tag("bath.svg", :alt => "bath icon") %>
      <p>1</p>
    </div>
  </div>
</div>

<div class="tenant-description">
  <p>Hi, I’m Michael and I have rented for the last 5 years in the Fitzroy area. I also own a property in Caroline Springs which is currenty tennanted, so I understand the needs and concerns of a landlord. Hi, I’m Penny and I have rented for the last 5 years in the Fitzroy area. I also own a property in Caroline Springs which is currenty tennanted, so I understand the needs and concerns of a landlord.  Hi, I’m Penny and I have rented for the last 5 years in the Fitzroy area. </p>
</div>

<div class="tenant-income">
  <p class="tenant-income-heading">Income</p>

  <div class="job">
    <p class="job-status">Full time</p>
    <h4 class="job-duration">Nov 2010 - current</h4>
    <p class="job-length">2 years, 9 months</p>

    <div class="job-info">
      <p class="job-title">Head of Design</p>
      <p>99designs</p>
      <p>41 Stewart St, Melbourne VIC 3121</p>
      <p>$123,000 per annum</p>
    </div>

    <div class="job-reference">
      <p class="reference-name">Reference</p>
      <p>Jason Sew Hoy</p>
      <p><span class="rui-icon rui-icon-iphone"></span>0412 345 678</p>
      <p><span class="rui-icon rui-icon-email"></span>jason@99designs.com</p>
    </div>
  </div>

</div>

<div class="tenant-income">
  <p class="tenant-income-heading">Residential History</p>

  <div class="job">
    <p class="job-status">Rented</p>
    <h4 class="job-duration">Jan 2007 - Dec 2011</h4>
    <p class="job-length"> 4 years, 11 months</p>

    <div class="job-info">
      <p class="job-title">9 Edgerton St</p>
      <p>Hawthorn, Vic, 3122</p>
      <p>$2100 per month</p>
    </div>

    <div class="job-reference">
      <p class="reference-name">Left beacuse</p>
      <p>Split with my partner.</p>
    </div>

    <div class="job-reference">
      <p class="reference-name">Managed by</p>
      <p>Jane Agent</p>
      <p>Jelis Craig Hawthorn</p>
      <p><span class="rui-icon rui-icon-iphone"></span>9810 5000</p>
      <p><span class="rui-icon rui-icon-email"></span>info@jelliscraig.com</p>
    </div>
  </div>

</div>

<div class="tenant-income">
  <p class="tenant-income-heading">Pets</p>

  <div class="job">
    <div class="pet-photo">

    </div>

    <div class="job-info">
      <p class="job-title">Subaru Forrester</p>
      <p>Car</p>
      <p>TAQ713</p>
    </div>
  </div>
</div>


<div class="tenant-income">
  <p class="tenant-income-heading">Vehicles</p>

  <div class="job">
    <div class="job-info">
      <p class="job-title">Subaru Forrester</p>
      <p>Car</p>
      <p>TAQ713</p>
    </div>
  </div>
</div>



