<div class="top-bar">
  <div class="container">
    <div class="row navigation-bar">
      <div class="burger">
        <div id="nav-icon1">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <!--<a href="/"><img src="//s1.rui.au.reastatic.net/rui-static/img/rea-logo-v4.png" alt="REA logo"></a>-->
      <h1 class="logo">Ditto</h1>
      <div class="agent-profile">
        <span class="rui-icon rui-icon-user-off"></span>
      </div>
    </div>
  </div>
</div>