<!DOCTYPE html>
<html>
<head>
  <title>Ditto</title>
  <%= csrf_meta_tags %>
  <link rel="icon" href="mini-logo.png">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" type="text/css" href="//s1.rui.au.reastatic.net/rui-1.7.5/css/rui-all.min.css">

</head>

<body>
<%= yield %>
</body>
</html>

